<div class="container">

	<div class="jumbotron bg-white">
	  <div class="container">
	    <h1 class="display-4">Create an Album</h1>
	    <p class="lead">Enter details for the new album below.</p>
	  </div>
	</div>

	<%= render "/admin/albums/form" %>
</div>

