.custom-table > div > div[class^="col-"] {
  /*border: 1px solid #dee2e6;*/
  padding: 0.75rem;
  vertical-align: middle;
}

.custom-table .row.spacer {
  border: none;
  padding: 0.75rem;
  vertical-align: middle;
}

.custom-table--header > a, a.custom-table--data-row {
	text-decoration: none;
	color: $body-color; 
}

.custom-table .row {
	min-height: 50px;
}

