<div class="container">

	<div class="jumbotron bg-white">
	  <div class="container">
	    <h1 class="display-4">Edit an Artist</h1>
	    <p class="lead">Inspect or update details for the selected artist below.</p>
	  </div>
	</div>

	<%= render "/admin/artists/form" %>
</div>