<div class="container">

	<div class="jumbotron bg-white">
	  <div class="container">
	    <h1 class="display-4">Create an Artist</h1>
	    <p class="lead">Enter details for the new artist below.</p>
	  </div>
	</div>

	<%= render "/admin/artists/form" %>
</div>