<div class="container pl-0 pr-0">
  <div class="inner">
     <ol class="breadcrumb bg-white">
        <!-- <a href="#menu-toggle" id="menu-toggle" class="menu-toggle mr-3"><i class="fa fa-bars fa-2x"></i></a> -->
       <% if @breadcrumbs %>
         <% @breadcrumbs.each_with_index do |bc, index| %>
           <% if index == (@breadcrumbs.count - 1) %>
              <li class="breadcrumb-item active"><%= bc.name %></li>
           <% else %>
              <li class="breadcrumb-item"><%= link_to bc.name, bc.path %></li>
           <% end %>
          <% end %>
       <% end %>
    </ol>
  </div>
</div>