<div class="container">

	<div class="jumbotron bg-white">
	  <div class="container">
	    <h1 class="display-4">Edit a Genre</h1>
	    <p class="lead">Inspect or update details for the selected genre below.</p>
	  </div>
	</div>

	<%= render "/admin/genres/form" %>
</div>