<div class="container">

	<div class="jumbotron bg-white">
	  <div class="container">
	    <h1 class="display-4">Create a Track</h1>
	    <p class="lead">Enter details for the new track below.</p>
	  </div>
	</div>

	<%= render "/admin/tracks/form" %>
</div>